body{
    background-color: lightgray;
}
#pageTitle{
    font-size: 30px;
    color: white;
    text-align: center;
}
label{
    padding-left: 5px;
    padding-right: 5px;
}

#addEmployeeTitle{
    text-indent: 30px;
    font-size: 30px;
    color: grey;
}

#appContainer{
    display: flex;
    flex-direction: column;
    align-items: left;
    background-color:  lightskyblue;
}

#addEmployee{
    background-color: lightgreen;
    font-size: 17px;
    color: white;
    padding-top: 4%;
    padding-bottom: 4%;
}
#nameInfo{
    padding-left: 40px;
}
#employeeInfo{
    padding: 2%;
    padding-left: 40px;
}
#addEmplyeeBtn{
    float: right;
    padding: 10px;

}
/* list of rows helps me create a table that is really just a bordered ul*/
#listOfRows{

    display: inline-flex;
    flex-direction: column;
    list-style-type: none;
}

#titleRow{
    color: white;
    font-weight: bolder;
}
#titleRow li:last-child{/*editing Remove Record header in table*/
    font-weight: lighter;
    font-size: 18px;
}
#titleRow li{
    background-color: lightblue;
}

.columnHeader{
    display: inline-flex;
    flex-direction: row;
    list-style-type: none;
    padding-bottom: 0;
    padding-left: 0;
}
.columnHeader li{
    max-width: 200px;
    min-width: 200px;
    font-size: 24px;
    text-align: center;
    border: 2px solid;
    padding-left: -20px;
    color: grey;
}

.listRow:nth-child(odd){
    background-color: white;
    padding-left: -40px;
}
.listRow:nth-child(even){
    background-color: lightgrey;
    color: black;
}
.costDivDef{
    text-align: right;
    font-size: 30px;
    padding: 20px;
    color: grey;
}
.costDivAlert{
    text-align: right;
    font-size: 30px;
    padding: 20px;
    background-color: lightpink;
}
.removeRecord-Btn{
    padding: 3px;
    padding-left: 14px;
    padding-right: 14px;
    font-size: 16px;
}